// @import で外部のcssを読み込むことができる
// footer.scssを読み込める
@import './footer.scss';

// @mixinは関数のようなもので、引数をとることができる。{}内で引数を利用できる
@mixin set-margin($direction, $value) {
    margin-#{$direction}: $value;
}

body {
    color: lightblue;
}

// 変数 （共通の複数のスタイルを一度に変更できる）
$text-color: orange;

// 入れ子にできる
.content {
    .title {
        font-size: 24px;
        color: $text-color;
    }

    // @extend
    .title-lg {
        // @extends で .title のスタイルを拡張させる
        @extend .title;
        // font-size のみ以下の値に上書きされる
        font-size: 32px;
    }

    // @mixinを使用するには、@includeと書く。@includeに引数を渡す
    // 以下の記述で margin-right: 16px; を記述したことになる
    @include set-margin(right, 16px);
}


