doctype html

block locals
    //- タイトルの文章を変数に代入
    - var title = '私のウェブサイト';

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}
    body
        .container
            //- 部分テンプレートとして_menu.pugを読み込み
            include _menu.pug

            //- 以下のcontent部分が各ページのblock content部分に置き換わる
            block content
            .footer
                | webpack Couse